[user]
  name = Michael Duerinckx
  email = mich@michd.me
[include]
  path = .gitconfig-signingkey
[merge]
  tool = vimdiff
  conflictstyle = diff3
  prompt = false
[alias]
  st = status
  co = checkout
  b = branch
  ci = commit
  cb = checkout -b
  ls = log --oneline
  ru = remote update
  om = origin master
  o = origin
  pullom = pull origin master
  pushom = push origin master
  sp = stash pop
  uncommit = reset --soft HEAD^
  ca = commit --amend
  can = commit --amend --no-edit
[core]
  excludesfile = ~/.gitignore
[rebase]
  autostash = true
[init]
  defaultBranch = main
[commit]
  gpgsign = true

